<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo WebShop Regression Suite">
<parameter name="URL" value="https://demowebshop.tricentis.com/"></parameter>
  <test thread-count="5" name="Regression Test" parallel="classes">
    <classes>
      <class name="testcases.DWS_SearchTC"/>      	     
      <class name="testcases.DWS_Vote"/>
      <class name="testcases.DWS_Subscribe"/>
    </classes>
  </test> <!-- Regression Test -->
</suite> <!-- Demo WebShop Regression Suite -->
